h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: "Comic Sans MS";
}

#anotherh1{
  color: green;
}

#anotherh1:hover{
  /*color: yellow;*/
  opacity: 0;
  transform: translateY(2px);
}

#thisisadiv{
  background-color: red;
  height: 200px;
  width: 200px;
}

#purple {
    background-color: purple;
    height: 200px;
    width: 200px;
}

.blog {
    width: 90%;
    height: 100px;
    border: 1px solid black;
}

/*madhav*/

#harambe {
    width: 50%;

}
